<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Documents</title>
    <script>
    var META = {
        user: "",
        repo: "",
        path: "",
    }
    </script>
</head>
<body>
    <header id="header">
        <div id="repo-logo" v-show="true" style="display: none">{{ meta.repo }}</div>
        <div id="repo-logo-message" v-show="message" v-text="message">Loading...</div>
    </header>
    <nav id="file-list" v-show="true" style="display: none">
        <div>
            <div id="file-list-filter">
                <input
                    id="file-list-filter-input"
                    type="text"
                    v-model="pattern"
                    :placeholder="message || 'Search files'"
                    :disabled="loading"
                    @keyup.enter="applyPattern"
                />
            </div>
            <ul class="content">
                <li
                    class="file-item"
                    v-for="file in availableFileList"
                    :data-index="file.index"
                    :data-id="file.id"
                    :class="{ active: file.index == index }"
                    @click="select(file.index)"
                >
                    <a
                        class="file-name"
                        :href="meta.entryPrefix + file.title"
                        v-on:mouseenter="preloadByIndex(file.index)"
                    >{{ file.title }}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="file-content" v-show="true" style="display: none">
        <div class="content" id="markdown-body">
            <article v-show="message" id="file-content-message">{{ message }}</article>
            <article v-html="content" v-show="!message"></article>
        </div>
    </div>
</body>
</html>