@import "./layout.scss";
@import "./markdown.scss";

* {
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

#repo-logo {
    height: $headerHeight;
    line-height: $headerHeight;
    font-size: 1.4em;
    padding: 0 16px;
    color: #cac8c8;
    background-color: #2d2d2d;
}

$fileItemColor : #666666;

#file-list {
    color: $fileItemColor;
    background-color: #fafafa;
    border-right: 1px solid #e3e6e8;
    overflow: auto;

    ul {
        padding: 10px 5px;
        margin: 0px;
    }

    li.file-item {
        list-style: none;
        padding: 5px;

        a.file-name {
            text-decoration: none;
            color: $fileItemColor;

            :hover {
                color: #008cff;
            }
        }
    }
}

#file-content {
    .content{
        padding: 10px 10px;
    }
}